<ion-header>
  <ion-toolbar color="success">
  	 <ion-buttons slot="start">
     <ion-button (click)="goUserProfile()">
    	<ion-icon name="person" slot="start"></ion-icon>
    	{{username}}
     </ion-button>
    </ion-buttons><br>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <ion-button expand="full" (click)="goDpesanan()" color="success">Lihat Pesanan</ion-button>
    <ion-button expand="full" (click)="logout()" color="success">Keluar</ion-button>
  </div>
</ion-content>