<ion-header>
  <ion-toolbar color="success">
    <ion-title color="light">
      Aplikasi Penyedia Catering
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
   <ion-item>
	  <ion-label position="floating">Nama Penyedia</ion-label>
	  <ion-input type="text" [(ngModel)]="nama_user"></ion-input>
   </ion-item>

  	<ion-item>
	  <ion-label position="floating">Kata Sandi</ion-label>
	  <ion-input type="password" [(ngModel)]="kata_sandi"></ion-input>
   </ion-item>
  <ion-button color="success" expand="block" (click)="login()">Masuk</ion-button>
</ion-content>