ion-title{
	text-align : center;
}

ion-content {
    --background: url('https://cateringkevyn.000webhostapp.com/kevyn/gambar/bgpc.jpg') no-repeat 100% 100%;
}

ion-item{
	padding: 10px;
}

ion-button{
	margin-top:20px;
}